@import 'reset';


/*--- GŁÓWNE KLASY OGÓLNE---*/
body{
	
	margin: auto;
	overflow: hidden;
	padding:0;
	box-sizing: border-box;
	color: #FFF;
	background-color:#20303B;/* CIEMNE TŁO */
}


.clearfix:after
{
content: "";
clear: both;
display: table;
}


/*--- HEADER ORAZ MENU ---*/

header {
	
	
}



/*--- MAIN ---*/
.box-main{
  width:95%;
  margin: auto;
  color:#00f600; /* ZIELONY JASNY */
}


	
/*--- FOOTER ---*/

footer {
	
	
	
}

