<!DOCTYPE html>

<html lang="pl-PL">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Tworzenie nowoczesnych stron internetowych"
    />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="Kuba Koder = Jakub Grzegorzek" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>Title of the document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  </head>

  <body>
    WItam

    <div
      ng-app="myApp"
      ng-controller="myCtrl"
      ng-init="myCol='lightblue';quantity=1;cost=5;names=[{name:'Jani',country:'Norway'},
	  {name:'Hege',country:'Sweden'},
	  {name:'Kai',country:'Denmark'}]"
      w3-test-directive
    >
      <p>Name: <input type="text" ng-model="name" /></p>
      <p ng-bind="name"></p>
      <p>My first expression: {{ 5 + 5 }}</p>
      <input style="background-color:{{myCol}}" ng-model="myCol" />

      <p>Total in dollar: {{ quantity * cost }}</p>
      <p>Total in dollar: <span ng-bind="quantity * cost"></span></p>

      <p>The init values is quantity {{quantity}}</p>
      <p>The init values is cost {{cost}}</p>

      <p>
        The init values with bind is quantity <span ng-bind="quantity"></span>
      </p>
      <p>The init values with bind is cost <span ng-bind="cost"></span></p>
      <p>{{ firstName + " " + lastName }}</p>

      <hr />

      <p>Quantity: <input type="number" ng-model="quantity" /></p>
      <p>Costs: <input type="number" ng-model="cost" /></p>
      <p>Total in dollar: {{ quantity * cost }}</p>

      <hr />
      <ul>
        <li ng-repeat="x in names">
          {{ 'Imię ' + x.name + ' Państwo ' + x.country }}
        </li>
      </ul>

      <form ng-app="" name="myForm">
        Email:
        <input type="email" name="myAddress" ng-model="text" />
        <span ng-show="myForm.myAddress.$error.email"
          >Not a valid e-mail address</span
        >

        <p>Twój e-mail: {{text}}</p>
      </form>
      <hr/>

      <p>{{ getName() }}</p>
    </div>

    <noscript
      >Please enable JavaScript to continue using this application.</noscript
    >
    <script src="js/myApp.js"></script>
    <script src="js/myCtrl.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
